
@media (min-width: 40em) {
    div#TOC {
        padding: .5em;
        margin: .5em;
        float: right;
        max-width: 20em;
    }
}

div#TOC:before {
    content: "▼ Sections";
}

div#TOC.closed:before {
    content: "▶ Sections";
}
